.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar_icon-link:hover{
    cursor: pointer;
    color: hsla(0,0%,100%,.7);;
}
.header_navbar-icon{
    /* min-height: 18px; */
    font-size: 1.4rem;
}
.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon{
    display: inline-flex;
    justify-content: center;

}
.header__navbar_icon-link:nth-child(2){
    padding-left: 4px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    /* border: 1px solid black; */
}
.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
    animation: fadeIn ease 0.7s;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name{
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 4px;
}
.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.head_logo-link{
    text-decoration: none;
    color: transparent;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    top: calc(100% + 10px);
    right: -3px;
    z-index: 3;
    box-shadow: 0 3px 10px rgb(216, 210, 210);
    border-radius: 2px;
    width: 142px;
    display: none;
}

.header__navbar-user-item{
    padding: 8px 0 ;
}
.header__navbar-user-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}
.header__navbar-user-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -31px;
    z-index: -1;
}
.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    right: 3px;
    width: 100px;
    height: 18px;
    top: -18px;
}
.header__navbar-user-item:hover{
    background-color: rgb(241, 237, 237);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}
.header__navbar_icon-link{
    color: white;
    text-decoration: none;
    margin-left: 8px;
    margin: 0 4px;

}

.header__navbar-item-bold{
    font-weight: 600;
}
.header__navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid hsla(0,0%,100%,.22);
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* HEADER QR */
.header__qr{
    width: 188px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 135%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}
.header__qr::before{
    content: "";
    left: 0;
    top: -10px;
    height: 20px;
    position: absolute;
    width: 100%;
    display: block;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
    z-index: 1;
    box-shadow: 0 3px 10px rgb(216, 210, 210);

}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 12px;
}
.header__qr-link:nth-child(2){
    margin-left: 13px;
}
.header__qr-download-img{
    height: 18px;
}
/* HEADER NOTIFYCATION */
.header__notify{
    z-index: 1;
    position: absolute;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 135%;
    right: 0;
    cursor: default;
    animation: headerNotifyGrowth ease-in .2s;
    transform-origin: calc(100%-32px);
    display: none;
    will-change: opacity, transform;
}
.header__navbar-item-has-no:hover .header__notify{
    display: block;
}
.header__notify::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -3px;
    top: -26px;
}
.header__notify::after{
    content: "";
    position: absolute;
    top: -10px;
    right: -2px;
    width: 76px;
    height: 16px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #f53e2d;
    margin: 0 0 0 12px;
    font-weight: 414;
    text-transform: capitalize;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
    margin-bottom: 1.2rem;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgb(238, 75, 43, 0.09);
}
.header__notify-link{
    display: flex;
    padding-left: 12px;
    text-decoration: none;
    width: 100%;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-des{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    width: 95%;
    margin-top: 4px;

}
.header__notify-footer{
    display: flex;
}   
.header__notify-footer-btn{
    text-decoration: none;
    color: #f53e2d;
    text-align: center;
    width: 100%;
    padding: 8px 48px;
    font-size: 1.4rem;
    font-weight: 400;
}
/* Header with search */
.header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;

}
.header__logo{
    width: 200px;
    cursor: pointer;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    margin: 0 9px;
    display: flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
}
.header__cart-list{
    position: absolute;
    color: var(--text-color);
    top: calc(100% + 10px);
    right: -6px;
    background-color: var(--white-color);
    width: 410px;
    box-shadow: 0 3px 10px rgb(216, 210, 210);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.7s;
    cursor: default;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    top: -35px;
    right: 3px;
    border-width: 22px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-radius: 6px;
    cursor: pointer;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    top: -18px;
    right: 1px;
    height: 20px;
}

.header__cart-list-none-cart .header__cart-no-cart-img,
.header__cart-list-none-cart .header__cart-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.header__cart-no-cart-img{
    width: 70%;
    display: none;
}
.header__cart-no-cart-msg{
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 15px;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 2px;
}
.header__search-input-wrap{
    flex: 1;
    position: relative;
    height: 100%;
}
.header__search-history{
    background-color: var(--white-color);
    position: absolute;
    top: 110%;
    width: calc(100% - 16px);
    box-shadow: 0 3px 10px rgb(216, 210, 210);
    border-radius: 2px;
    display: none;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-heading{
    margin: 8px 12px;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(158, 157, 157);
    text-transform: uppercase;
}
.header__search-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;
}
.header__search-item{
    padding: 0 12px;
    height: 32px;
}
.header__search-item:hover{
    background-color: #faf2f2;
}
.header__search-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 34px;
    display: block;
}
.header__search-select{
    border-left: 1px solid #756F6E;
    padding: 0 7px 0 14px;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #cf3c1f;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__cart-notice{
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    padding: 1px 9px;
    border-radius: 8px;
    border: 2px solid #e94d2e;
    top: -11px;
    right: -12px;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 123px;
    list-style: none;
    box-shadow: 0 3px 10px rgb(216, 210, 210);
    padding-left: 0;
    padding-top: 0;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option::before{
    content: "";
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #f1e9e9;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 15px 0 12px;
}
.header__search-option-item i{
    font-size: 1.0rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item-active i{
    display: inline-block;
}
.header__cart-heading{
    text-align: left;
    margin: 14px 0 8px 8px;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
}
.header__cart-item:hover{
    background-color: #f0ecec;
}
.header__cart-img{
    width: 80px;
    height: 52px;
    margin: 8px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 8px 0 0 0;
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    margin: 8px 0 0 0;
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    margin: 0 2px;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
}
.header__cart-item-des{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove:hover{
    color: #ef6145;
    cursor: pointer;
}
.vt{
    color: #007b70;
    font-weight: 600;
}
.vina{
    color: #0198e1;
    font-weight: 600;
}
.mobi1{
    font-weight: 600;
    color: #0000ff;
}
.mobi2{
    color: #ff0000;
    font-weight: 600;
}
.btn.btn--primary.btn1{
    text-transform: uppercase;
}
.btn.btn--primary.btn1:hover{
    background-color: #F05D41;
}
/* Modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;

}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 16px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
a.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.btn{
    min-width: 142px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    background-color: var(--white-color);
}
.btn.btn--primary{
    background: var(--primary-color);
    color: var(--white-color)
}
.btn.btn-normal:hover{
    background-color: rgb(0, 0, 0, 0.09);
}
.btn.btn--disable{
    cursor: default;
    background-color: #ffffff;
    color: #c3c3c3;
}
.auth-form__socials{
    margin-top: 10px;
    padding: 10px 32px;
    background: #c4bdbd;
    display: flex;
    justify-content: space-between;
}
.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 6px;
}
.auth-form__socials-ic {
    font-size: 1.8rem;
}
.auth-form__socials-fb{
    background-color: #3a5398;
    color: var(--white-color);
    text-decoration: none;
    border-radius: 2px;
}
.auth-form__socials-title{
    margin: 0 40px;
}
.auth-form__socials-gg{
    background-color: #ffffff;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 2px;

}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(97, 95, 95);
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    border-left: 1 px solid red;
    margin: 2px 16px 0;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* App Container */
.app__container{
    background-color: #F5F5F5;
}
.category{
    background-color: var(--white-color);
    padding-left: 12px;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 8px 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}
.category__heading-icon{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
}
.category-item{
}
.category-item-active .category-item__link{
    color: var(--primary-color);
    /* position: relative; */
}
.category-item-active .category-item__link::before{
    position: absolute;
    content: "";
    border-color: transparent transparent transparent red;
    border-width: 4px 4px;
    border-style: solid;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.category-item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    padding: 6px 16px;
    position: relative;
    transition: right linear 0.01s;
}
.category-item__link:hover{
    right: -12px;
    color: var(--primary-color);
}
/* Home sort + filter */
.app__content{
    padding-top: 32px;
}
.home-filter{
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter-btn{
    margin-right: 12px;
    min-width: 90px;
}
/* Selection */
.select-input{
    min-width: 200px;
    background-color: var(--white-color);
    height: 34px;
    border-radius: 2px;
    padding: 0 12px;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 0 0 4px;
    position: relative;
}
.select-input-price{

}
.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    top: 36px;
    padding-left: 0;
    list-style-type: none;
}
.select-input-item{
}
.select-input-link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}
.home-filter__paginate{
    display: flex;
    align-items: center;
}
.home-filter__page-num{

}
.home-filter__page-current{

}
.home-filter__page-control{

}
.home-filter__page-btn{

}
